.pagination {
    color: #003f76;
        }
        
.pagination a {
    text-decoration: none;
	color: #003f76;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 2px 3px;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.pagination .current {
    background: #005e9c;
    color: #fff;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
